* {
  margin: 0;
  padding: 0;
}

.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList {
  background-color: #b0fcfc;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.taskForm {
  display: flex;
  flex-direction: row;
  background-color: #cdfde2;
  border: 1px solid #284d29;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3px;
}
.taskList {
  margin: 10px 30px;
}

.mybuttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.buttonItem {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-left: 4px;
  padding: 2px;
}