* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
.App {
  min-width: 100vh;
}

.container { /*/////////////*/
  max-width: 1400vh;
  min-width: 100vh;
  min-height: 100vh;
  margin: 10px 0;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.flexWrapper { /*////////*/
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 0 10px;
  flex-direction: row;
}
.todoLists { /*////////*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.header {   /*/////////////////*/
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.todoList {
  background-color: #b0fcfc; /*#747575*/
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.todoList h3 span {
  margin-left: 30px;
  font-size: 1.6em;
  cursor: pointer;
}
.todoList h3 span:hover{
  color: rgba(0, 0, 0, 0.68);
}

.taskForm { /* добавление новых тасок*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4em;
  background-color: rgba(66, 147, 232, 0.15);
  border: 1px solid #284d29;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 30px;
  gap: 10px;
}
/*.inputError {
  min-width: 150px;
  border: 2px solid red;
  border-radius: 5px;
  outline: none;
}
.inputDefault {
  min-width: 150px;
  border: 1px solid black;
  border-radius: 5px;
}*/

.taskList {  /*/////////*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 30px;
}
.taskList-info { /*/////////////////*/
  display: flex;
  justify-content: space-around;
  padding: 2px;
  margin: 5px;
}
.info {    /*/////////////*/
  margin-left: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 100%;
}
.taskList-info div { /*////////////////*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 6px;
  background-color: #e0fffb;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  /*border: 1px solid black;*/
}
.span {
  display: flex;
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 108px;
  min-width: 325px;
  justify-content: center;
}


.list input {
  margin-right: 5px;
  cursor: pointer;
}
.task {
  display: flex;
  min-width: 350px;
  min-height: 48px;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0;
  background-color: white;
  border: 2px solid black;
  padding: 4px;
  border-radius: 5px;
}
.task span:hover {
  background-color: rgba(150, 180, 180, 0.26);
  cursor: pointer;
  border-radius: 3px;
}
.taskDone {
  display: flex;
  min-width: 351px;
  min-height: 49px;
  justify-content: space-between;
  margin: 5px 0;
  background-color: #d0fffb;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}
.taskDone span:hover{
  background-color: rgba(150, 180, 180, 0.26);
  cursor: pointer;
  border-radius: 3px;
}

/*.myButtons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}*/
/*.buttonItem {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-left: 4px;
  padding: 2px;
}*/
/*.btn-active {
  margin-right: 5px;
  padding: 5px;
  background-color: black;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color .5s ease-in;
}

.btn {
  margin-right: 5px;
  padding: 5px 6px ;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.btnX-active {
  padding: 0 5px;
  min-width: 30px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  transition: background-color .2s ease-in;
}*/

/*.btnX {
  padding: 0 5px;
  min-width: 30px;
  background-color: white;
  border-radius: 5px;
  color: black;
}*/

/*
.delete-todolist {
  width: 27px;
  height: 27px;
  margin-right: 2px;
  padding: 2px 3px ;
  background-color: #000000;
  border-radius: 5px;
  color: white;
}
.delete-todolist:hover{
  background-color: rgba(255, 0, 0, 0.67);
  border: 1px solid black;
  font-weight: bold;
}*/
