.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList {
  max-width: 100%;
  background-color: #b0fcfc;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.taskList {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  background-color: #cdfde2;
  border: 1px solid #284d29;
  border-radius: 5px;
  padding: 10px;
  margin-top: 3px;
}